<p>
  <%= link_to "Sign in as Guardian", new_guardian_session_path %>
</p>
<p>
<%= link_to "Sign in as Driver", new_driver_session_path %>
</p>
<p>
<%= link_to "Sign in as School Admin", new_school_admin_session_path %>
</p>
