<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h1>Routes</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <% @routes.each do |route| %>
      <div class="feed-item">
        <h3><%= route.name %></h3>
        <p>
          <strong>Driver:</strong> <%= route.driver.name %>
        </p>
        <p>
          <strong>Students:</strong> <%= pluralize(route.students.count, "student") %>
        </p>
        <p>
          <%= link_to "View route", route_path(route) %>
        </p>
      </div>
    <% end %>
  </div>
</div>
